__pycache__
allocator/__pycache__
.venv
portfolio_app_state.json
.env
*.csv
app_icon.ico
build_temp
dist
PortfolioOptimizer.spec
build/PortfolioOptimizer/Analysis-00.toc
build/PortfolioOptimizer/base_library.zip
build/PortfolioOptimizer/PKG-00.toc
build/PortfolioOptimizer/PortfolioOptimizer.pkg
build/PortfolioOptimizer/PYZ-00.pyz
build/PortfolioOptimizer/PYZ-00.toc
build/PortfolioOptimizer/warn-PortfolioOptimizer.txt
build/PortfolioOptimizer/xref-PortfolioOptimizer.html
build/PortfolioOptimizer/localpycs/pyimod01_archive.pyc
build/PortfolioOptimizer/localpycs/pyimod02_importers.pyc
build/PortfolioOptimizer/localpycs/pyimod03_ctypes.pyc
build/PortfolioOptimizer/localpycs/pyimod04_pywin32.pyc
build/PortfolioOptimizer/localpycs/struct.pyc
